<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyGetUmbracoPreRelease" value="https://www.myget.org/F/umbracoprereleases/api/v3/index.json" />
    <add key="MyGetUmbracoCloudBundle" value="https://www.myget.org/F/uc-bundle/api/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Umbraco.Cms*" />
      <package pattern="Umbraco.Forms*" />
      <package pattern="Umbraco.Deploy*" />
      <package pattern="Umbraco.Cloud*" />
    </packageSource>
    <packageSource key="MyGetUmbracoPreRelease">
      <package pattern="Umbraco.Cms*" />
      <package pattern="Umbraco.Forms*" />
      <package pattern="Umbraco.Deploy*" />
      <package pattern="Umbraco.Cloud*" />
    </packageSource>
    <packageSource key="MyGetUmbracoCloudBundle" >
      <package pattern="Umbraco.Cms*" />
      <package pattern="Umbraco.Forms*" />
      <package pattern="Umbraco.Deploy*" />
      <package pattern="Umbraco.Cloud*" />
    </packageSource>
  </packageSourceMapping>

</configuration>
